<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>English</string>
  <key>CFBundleDocumentTypes</key>
  <array/>
  <key>NSPrincipalClass</key>
  <string>NSApplication</string>
  <key>CFBundleName</key>
  <string>VideoStitch Player 360</string>
  <key>CFBundleIconFile</key>
  <string>player.icns</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleGetInfoString</key>
  <string>Copyright VideoStitch SAS</string>
  <key>CFBundleSignature</key>
  <string>orah</string>
  <key>CFBundleExecutable</key>
  <string>VideoStitchPlayer360</string>
  <key>CFBundleShortVersionString</key>
  <string>9.9.9</string>
  <key>CFBundleVersion</key>
  <string>9.9.9</string>
  <key>LSMinimumSystemVersion</key>
  <string>10.6.0</string>
  <key>CFBundleIdentifier</key>
  <string>com.video-stitch.Player</string>
  <key>NOTE</key>
  <string>https://github.com/stitchEm</string>
</dict>
</plist>
